{% extends 'cpanel/index.html' %}
{% load i18n %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{{ baseurl }}/static/css/tabs.css" />
{% endblock %}

{% block sectiontitle %}Modifiers{% endblock %}

{% block sectioncontent %}
<ul class="tabs">
    <li class="active"><a href="{% url spell_scroll %}">Spell Scrolls</a></li>
</ul>

<div class="tab_container" style="padding-top: 6%">
    <div id="tab-1" class="tab_content">
        {% include 'cpanel/spell_scroll.html' %}
    </div>
</div>

{% endblock %}
