{% extends 'cpanel/index.html' %}

{% load user %}
{% load i18n %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Edit Group{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Groups" "groups" %}
    {% breadcrumb "Edit Group" "edit_group" %}
{% endblock %}

{% block sectioncontent %}

    <div class="container-fluid">
        <div class="col-md-8">
            {% if form.errors %}
                <p style="color: red;">
                    Please correct the error{{ form.errors|pluralize }} below.
                </p>
            {% endif %}

            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                {{ form|bootstrap_horizontal }}
                <input type="submit" class="btn btn-primary" value="Submit">
                <a class="btn btn-warning" href="{% url groups %}">{% trans 'Cancel' %}</a>
                {% csrf_token %}
            </form>
        </div>
    </div>

{% endblock %}
