{% extends 'cpanel/index.html' %}

{% load user %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}

    Groups

    <div class="pull-right">
        <a class="btn btn-primary" href="{% url add_group %}">
            <span class="glyphicon glyphicon-plus"></span> {% trans 'Add group' %}
        </a>
    </div>

{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Groups" "groups" %}
{% endblock %}

{% block sectioncontent %}

    <div class="container-fluid">
        <div class="col-md-10">
            <ul class="nav nav-tabs">
                <li {% if not page %}class="active"{% endif %}><a href="{% url groups %}">Groups</a></li>
                <li {% if page == 'group_types' %}class="active"{% endif %}><a href="{% url group_types %}">Group Types</a></li>
            </ul>

            <br/>

            <ul>
                {% for g in groups %}
                <li>
                    group type: {{g.group_type}} Name: {{g.name}} Parent: {{g.parent}} Players: {%for p in g.players.all %}{{p.full_name}}{%endfor%} Points: {{g.live_points}}
                    <a class="btn btn-success btn-xs" href="{% url edit_group g.id %}">
                        <span class="glyphicon glyphicon-edit"></span>{% trans 'Edit' %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
