{% extends 'cpanel/index.html' %}

{% load user %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}

    Groups

    <div class="pull-right">
        <a class="btn btn-primary" href="{% url add_group %}">
            <span class="glyphicon glyphicon-plus"></span> {% trans 'Add group' %}
        </a>
    </div>

{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Groups" "groups" %}
{% endblock %}

{% block sectioncontent %}

    <div class="container-fluid">
        <div class="col-md-10">
            <ul class="nav nav-tabs">
                <li {% if not page %}class="active"{% endif %}><a href="{% url groups %}">Groups</a></li>
                <li {% if page == 'group_types' %}class="active"{% endif %}><a href="{% url group_types %}">Group Types</a></li>
            </ul>

            <br/>

            <!--<table class="table table-bordered table-condensed table-hover">-->
                <!--<tr>-->
                    <!--<th>Group Type</th>-->
                    <!--<th>Name</th>-->
                    <!--<th>Parent</th>-->
                    <!--<th>Players</th>-->
                    <!--<th>Points</th>-->
                    <!--<th>Manage</th>-->
                <!--</tr>-->
                <!--{% for g in groups %}-->
                <!--<tr>-->
                    <!--<td>{{ g.group_type }}</td>-->
                    <!--<td>{{ g.name }}</td>-->
                    <!--<td>{{ g.parent }}</td>-->
                    <!--<td>-->
                        <!--{% for p in g.players.all %}-->
                            <!--{{ p.full_name }}-->
                        <!--{% endfor %}-->
                    <!--</td>-->
                    <!--<td>{{ g.live_points }}</td>-->
                    <!--<td>-->
                        <!--<a class="btn btn-success btn-xs" href="{% url edit_group g.id %}">-->
                            <!--<span class="glyphicon glyphicon-edit"></span>{% trans 'Edit' %}-->
                        <!--</a>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--{% endfor %}-->
            <!--</table>-->

            <ul>
                {% for g in groups %}
                    {% include "cpanel/groups/groups/tree_view_template.html" %}
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}
