{% extends 'cpanel/index.html' %}

{% load user %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}

    Group types

    <div class="pull-right">
        <a class="btn btn-primary" href="{% url add_group_type %}">
            <span class="glyphicon glyphicon-plus"></span> {% trans 'Add group type' %}
        </a>
    </div>

{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Groups" "groups" %}
    {% breadcrumb "Group Types" "group_types" %}
{% endblock %}

{% block sectioncontent %}

    <div class="container-fluid">
        <div class="col-md-10">
            <ul class="nav nav-tabs">
                <li {% if page == 'groups' %}class="active"{% endif %}><a href="{% url groups %}">Groups</a></li>
                <li {% if not page %}class="active"{% endif %}><a href="{% url group_types %}">Group Types</a></li>
            </ul>

            <br/>

            <table class="table table-bordered table-condensed table-hover">
                <tr>
                    <th>Identifier</th>
                    <th>Name</th>
                    <th>Parent Type</th>
                    <th>Manage</th>
                </tr>
                {% for g in group_types %}
                <tr>
                    <td>{{ g.identifier }}</td>
                    <td>{{ g.name }}</td>
                    <td>{{ g.parent_type }}</td>
                    <td>
                        <a class="btn btn-success btn-xs" href="{% url edit_group_type g.id %}">
                            <span class="glyphicon glyphicon-edit"></span>{% trans 'Edit' %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
